mixin dressCard(dressCard,bottom,top,left,right)
  - var dressCardClasses = `dress-card `;
  - if ( bottom ) dressCardClasses += `dress-card--bottom-space `;
  - if ( top ) dressCardClasses += `dress-card--top-space `;
  - if ( left ) dressCardClasses += `dress-card--left-space `;
  - if ( right ) dressCardClasses += `dress-card--right-space `;
  //ЧТОБЫ ССЫЛКА СОЗДАВАЛАСЬ НА ВСЁ, а не только на картинку!!!
  mixin cardAndText 
    img.dress-card__img(src=dressCard.imagePath)
    
    if ( dressCard.titleInMiddle )
      h4.dress-card__dress-sign.dress-card__dress-sign--on-image.dress-card__dress-sign--centered.dress-card__dress-sign--grey= dressCard.titleInMiddle

    if ( dressCard.titleUnder )
      h5.dress-card__dress-sign.dress-card__dress-sign--centered= dressCard.titleUnder

    if ( dressCard.underText )
      each text in dressCard.underText
        p.dress-card__dress-sign.dress-card__dress-sign--centered= text
  
  div(class= dressCardClasses)
    if ( dressCard.href )
      a(href=dressCard.href)
        +cardAndText
    else
      +cardAndText