//- layout.pug
include ../assets/blocks/main-menu/main-menu
include ../assets/blocks/top-sign/top-sign
-
  var globalHead = {
    canonical : 'http://www.vse-nevestam.ru',
    faviconPathName : '/favicon',
  }

block variables
  -
    var dressNames = ['Оливия','Эмма','Ава','Шарлота','София']
    var menuList = [
          {
            name : 'Пышные',
            href : '',
          },{
            name : 'Греческие',
            href : '',
          },{
            name : 'Кружевные',
            href : '',
          },{
            name : 'Прямые',
            href : '',
          },{
            name : 'Русалка',
            href : '',
          },{
            name : 'Беременным',
            href : '',
          },{
            name : 'С рукавами',
            href : '',
          },{
            name : 'Со шлейфом',
            href : '',
          },{
            name : 'До 15000',
            href : '',
          },{
            name : 'Контакты',
            href : '',
          },
        ]
      var topLogoAndInfo = {
        topText : 'г.Москва, ул.Острякова 3, м.Аэропорт',
        phoneAndMessengers : '7(985)635-5151',
        logo : './images/everypage/vnlogo.png',
        
        }
  
doctype html
html
  head
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    meta(name='description' CONTENT=PageHead.description)
    meta(name='keywords' content=PageHead.keywords)

    link(rel='canonical' href=globalHead.canonical)
    link(rel="icon" href=globalHead.faviconPathName+'.ico' type="image/x-icon")
    //- <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    link(rel="shortcut icon" href=globalHead.faviconPathName+'.ico' type="image/x-icon")
    //- <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml">
    
    title= PageHead.title
    block head
      
  body
    .layout-wrapper
      .layout-header
        block header
          .page-head
            +top-sign(topLogoAndInfo)
            +showMainMenu(menuList)
      .layout-content
        block content
      .layout-foot
        block footer