//- layout.pug
-
  var globalHead = {
    canonical : 'http://www.vse-nevestam.ru',
    faviconPathName : '/favicon',
  }

block variables
  
doctype html
html
  head
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    meta(name='description' CONTENT=indexPageHead.description)
    meta(name='keywords' content=indexPageHead.keywords)

    link(rel='canonical' href=globalHead.canonical)
    link(rel="icon" href=globalHead.faviconPathName+'.ico' type="image/x-icon")
    //- <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    link(rel="shortcut icon" href=globalHead.faviconPathName+'.ico' type="image/x-icon")
    //- <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml">
    
    title= indexPageHead.title
    block head
      
  body
    block content