//- layout.pug
include ../assets/blocks/main-menu/main-menu
include ../assets/blocks/top-sign/top-sign
include ../assets/blocks/sign-up/sign-up
include ../assets/blocks/breadcumbs/breadcumbs
include ../assets/blocks/top-menu/top-menu


-
  var globalHead = {
    canonical : 'https://www.vse-nevestam.ru',
    faviconPathName : '/favicon',
  }
  var address = {
    city : 'г.Москва',
    streetHouse: 'Острякова д.3',
    subway : 'м.Аэропорт',
  }

block variables
  -
    var breadcumbList = [{
      name : 'Салон Всё Невестам',
      href : `${globalHead.canonical}`
    }]
    var dressNames = ['Оливия','Эмма','Ава','Шарлота','София']
    var menuList = [
          {
            name : 'Пышные',
            href : '/catalog/lush-dresses.html',
          },{
            name : 'Греческие',
            href : '/catalog/greece-dresses.html',
          },{
            name : 'Кружевные',
            href : '/catalog/lace-dresses.html',
          },{
            name : 'Прямые',
            href : '/catalog/straight-dresses.html',
          },{
          //-   name : 'Русалка',
          //-   href : '/catalog/mermaid-dresses.html',
          //- },{
          //-   name : 'Беременным',
          //-   href : '/catalog/materity-dresses.html',
          //- },{
            name : 'С рукавами',
            href : '/catalog/sleeves-dresses.html',
          },{
            name : 'Со шлейфом',
            href : '/catalog/train-dresses.html',
          //- },{
          //-   name : 'Дешевые',
          //-   href : '/catalog/cheap-dresses.html',
          //- },{
          //-   name : 'Распродажа',
          //-   href : '/catalog/discount.html',
          //- },{
          //-   name : 'Контакты',
          //-   href : '/catalog/contacts.html',
          },
          {
            name : 'Наш Instagram',
            href : 'https://www.instagram.com/vse_nevestam/',
          },
        ]
      var topLogoAndInfo = {
        topText : `<address>${address.city}, ${address.streetHouse}, ${address.subway}</address>`,
        phoneAndMessengers : '7(985)635-5151',
        logo : '/images/everypage/vnlogo.png',
        
        }
  
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    meta(name='description' CONTENT=PageHead.description)
    meta(name='keywords' content=PageHead.keywords)
    link(rel='canonical' href=globalHead.canonical)
    link(rel="icon" href=globalHead.faviconPathName+'.ico' type="image/x-icon")
    //- <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    link(rel="shortcut icon" href=globalHead.faviconPathName+'.ico' type="image/x-icon")
    //- <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml">
    title= PageHead.title

    <!-- Yandex.Metrika counter -->
    script(type='text/javascript')
      include ya-counter.js
    noscript
      div
        img(src='https://mc.yandex.ru/watch/22147520' style='position:absolute; left:-9999px;' alt='')
    <!-- /Yandex.Metrika counter -->

    block head
      
  body
    .layout-wrapper
      header.layout-header
        block header
          .page-head
            +top-sign(topLogoAndInfo)
            +top-menu(breadcumbList)
      .layout-main-menu
        +showMainMenu(menuList)
      .layout-content
        block content
      footer.layout-foot
        block footer
          .address
            span= `Наш адрес: ${address.city}, ${address.streetHouse}, ${address.subway}`
          a(href='/additional/policy.html') Политика конфиденциальности
      +signup